* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

p,
h1 {
  margin: 0;
}

.container {
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  background-color: lightcoral;
  text-align: center;
}

.menu {
  background-color: blanchedalmond;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.grids {
  background-color: rgba(127, 255, 212, 0.408);
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.tiles {
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 300px;
}

.label {
  background-color: violet;
  text-align: center;
}

.tile {
  border: 1px solid cadetblue;
  width: 30px;
  height: 30px;
}

.tile.hit {
  background-color: lightgreen;
}

.tile.ship {
  background-color: lightcoral;
}

.tile.ship.hit {
  background-color: red;
}

.tile.hover {
  border: 2px solid black;
}

.message {
  text-align: center;
}
